.send {
  display: block;
  height: 100%;
  .send-box {
    box-sizing: border-box;
    padding: 15px;
    .btn-area {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 36px;
      .btn {
        width: 166px;
        min-width: auto;
      }
    }
  }
}
