.findora-wallet-list {
  display: block;
  height: calc(100% - 45px);
  padding: 12px;
  overflow-y: auto;
  .wallet-item {
    &:hover {
      box-shadow: 0 0 5px #888;
    }
  }

  .select-wallet-item {
    box-shadow: 0 0 5px #888;
  }
}
