.findora-wallet-empty {
  .wallet-empty-tips {
    margin-bottom: 40px;
    padding-top: 45px;
    text-align: center;
  }
  .button-area {
    padding: 0 65px;
    .button-create-wallet,
    .button-restory-wallet {
      display: block;
      margin-bottom: 16px;
    }
    .button-create-wallet {
      margin-bottom: 16px;
    }
  }
}
