.send-confrim {
  display: block;
  height: 100%;
  .ant-spin-nested-loading {
    height: 100%;
  }
  .ant-spin-container {
    height: 100%;
  }
  .send-confrim-box {
    box-sizing: border-box;
    padding: 16px 20px;
    .address {
      font-family: @equal-font;
      word-break: break-all;
    }
    .btn-area {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 36px;
      .btn {
        width: 166px;
        min-width: auto;
      }
    }
  }
}
